<div class="row">
  <div class="col-xs-12">
    <%= f.label :parent_folder_id %>
    <%= f.select :parent_folder_id, options_for_select(@folders, selected_key = f.object.parent_folder_id), {}, class: "form-control"%> 
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter folder name" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', placeholder: "Enter description (optional)" %>
  </div>
</div>


<div class="row">
  <div class="checkbox col-xs-12">
    <%= f.label :published do %>
      <%= f.check_box :published, class: 'form-control' %>
      Published
    <% end %>
  </div>
</div>
