<div class="row">
	<div class="col-xs-12 col-sm-<%= delete_title == nil ? 6 : 4 %>" style="margin-bottom:10px;">
		<%= f.submit "Save", class: "btn btn-large btn-primary" %>
	</div>
	<div class="col-xs-12 col-sm-<%= delete_title == nil ? 6 : 4 %>" style="margin-bottom:10px;">
		<%= link_to "Cancel", cancel_path, class: "btn btn-large btn-warning" %>
	</div>
	<% if delete_title != nil %>
		<div class="col-xs-12 col-sm-4" style="margin-bottom:10px;">
			<%= link_to content_tag('div', 'Delete', class: 'btn btn-large btn-danger'), object, data: {confirm: "Are you sure you want to delete '#{delete_title}'?"}, method: :delete %>
		</div>
	<% end %>
</div>
